@charset "UTF-8";
#container{
    width: 100%;
    position: relative;
    z-index: 7;
}

#ctl00_PlaceHolderContent_divMovieSelection_wrap{
    height: 500px;
    position: relative;
    background-color:#000;
}
 
#container .contents{
    height: 100%;
}

video {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.video_wrap{
    background-color: black;
    color: #fff;
    position: relative;
    top: 10%;
    left: 0;
}

/*----------------------span 들....*/
.movieinfo{
	height: 0;
}
.movieinfo span{
    font-size: 15px;
    position: relative;
    top: 250px;
    left: -1px;   
    z-index: 1;
    color: #fff; 
}

.movieinfo span:first-child{
    font-size: 30px;
    display: block;
    line-height: 72px;
    position: relative;
    top: 250px;
	left: 0;    
}

.movieSelection_wrap{
    position: relative;
    height: 498px;
    background-color: #000;
}

.movieChartBeScreen_wrap{
    background-color: rgba(232, 232, 232, 0.37);
}
.movieSelection_video_controller_wrap{
    position: absolute;
    top: 78%;
    display: block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8) ;
    color: #333;
    border-radius: 15px;
}